<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/images/logo-marca.png" alt="Logo Termas"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/wellcome" routerLinkActive="active" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/personas" routerLinkActive="active" class="nav-link" href="#">Personas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/reservas" routerLinkActive="active" class="nav-link" href="#">Reservas</a>
      </li>
      <!--li class="nav-item">
        <a routerLink="/administrarReserva" routerLinkActive="active" class="nav-link" href="#">Administrar Reservas</a>
      </li-->
      <li class="nav-item">
        <a routerLink="/administrarReservaMat" routerLinkActive="active" class="nav-link" href="#">Administrar Reservas</a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span>
              {{_us.usuario.nombreFantasia}}
              &nbsp;<i class="fas fa-user-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" (click)="_us.logout()" class='nav-link pointer'><i class="fa fa-power-off"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class='col-md-1'>
  </div>
</nav>
