<div class="container top-margin">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" (keyup.enter)="buscarReservas(buscarReserva.value)"
          #buscarReserva>
        <button (click)="buscarReservas(buscarReserva.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
      </form>
      <mat-divider class="my-2"></mat-divider>

      <div class="card border-primary my-4">
        <div class="card-header text-center text-primary text">Reservas sin confirmar </div>
        <div class="card-body text-primary">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nº Res</th>
                  <th>Fecha Servicio</th>
                  <th>Nombre Pax</th>
                  <th>cantidad Paxs</th>
                  <th>Editar</th>
                  <th>Confirmar</th>
                </tr>
              </thead>
              <tbody *ngIf="reservas?.length > 0">
                <tr *ngFor="let v of reservas">
                  <td>{{ v.reservaID }}</td>
                  <td>{{ v.fechainservicio | date}}</td>
                  <td>{{ v.nombrepax }}</td>
                  <td>{{ v.cantidadpaxs }}</td>
                  <td>
                    <!--button type="button" name="editar" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary"> editar</button-->
                    <button type="button" class="btn btn-outline-success" [routerLink]="['/reservas', 'editar', v.reservaID]">Editar</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-danger" (click)="confirmarReserva(v)">Confirmar</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
