<div class="container top-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha Reserva" (dateInput)="addEvent('input', $event)"
              (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cupos disponibles</h5>
          <div class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Servicio</th>
                  <th scope="col">Cupos Disponibles</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cupo of cupos">
                  <td>{{ cupo.nombreServicio }}</td>
                  <td>{{ cupo.cantidadCupo }}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-sm-12  center-block">
  <div class="card border-primary my-4">
    <div class="card-header text-center">Voucher </div>
    <div class="card-body text-primary">
      <!--h5 class="card-title">Listado de Clientes</h5-->
      <div class="my-2 text-left">
        <button type="button" class="fa fa-plus btn btn-outline-primary" (click)="openFormModal()"></button>
      </div>
      <div class="alert alert-info" *ngIf="reservas?.length == 0">
        No hay registros en la base de datos!
      </div>
      <table class="table table-bordered table-striped" *ngIf="reservas?.length > 0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Edad</th>
            <th>Hotel</th>
            <th>Alojado</th>
            <th>Telefono</th>
            <th>Whatapp</th>
            <th>Producto</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of reservas">
            <td>{{ v.nombre }}</td>
            <td>{{ v.apellido }}</td>
            <td>{{ v.dni }}</td>
            <td>{{ v.edad }}</td>
            <td>{{ v.hotel.nombre }}</td>
            <td>{{ v.alojado }}</td>
            <td>{{ v.telefono }}</td>
            <td>{{ v.whatapp }}</td>
            <td>{{ v.producto.nombre }}</td>
            <td>
              <!--button type="button" name="editar" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary"> editar</button-->
              <button type="button" class="btn btn-outline-success">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group float-right mt-2" role="group">
        <button type="button" class="btn btn-outline-primary ali">Reservar</button>
        <button type="button" class="btn btn-outline-primary ali">Reservar y Confirmar</button>
      </div>
    </div>
  </div>
</div>
