
<div class="container top-margin">
<div class="row">
  <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Seleccione una fecha de reserva</h5>
              <p class="card-text">
                  <input class="form-control"
              placeholder="Datepicker"
              type="date"
              placement="bottom">
              </p>
            </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cupos disponibles</h5>
          <div class="card-text">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Servicio</th>
                      <th scope="col">Cupos Disponibles</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Spa</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td>Parque</td>
                      <td>100</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>


