<div class="container top-margin">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <mat-form-field>
            <input matInput [(ngModel)]="datePicker.value" [matDatepicker]="picker" placeholder="Fecha Reserva"
              (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cupos disponibles</h5>
          <div class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Servicio</th>
                  <th scope="col">Cupos Disponibles</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cupo of cupos">
                  <td>{{ cupo.nombreServicio }}</td>
                  <td>{{ cupo.cantidadCupo }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-sm-12  center-block" *ngIf="mostrarGrilla">
  <div class="card border-primary my-4">
    <div class="card-header text-center text-primary text">Voucher </div>
    <div class="card-body text-primary">
      <!--h5 class="card-title">Listado de Clientes</h5-->
      <div class="my-2 text-left">
        <button type="button" class="fa fa-plus btn btn-outline-primary" (click)="openFormModal(v, 'alta')" *ngIf="(totalCupos > 0)"></button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Edad</th>
              <th>Hotel</th>
              <th>Alojado</th>
              <th>Telefono</th>
              <th>Whatapp</th>
              <th>Producto</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody *ngIf="reservas?.length > 0">
            <tr *ngFor="let v of reservas">
              <td>{{ v.nombre }}</td>
              <td>{{ v.apellido }}</td>
              <td>{{ v.dni }}</td>
              <td>{{ v.edad }}</td>
              <td>{{ v.hotel.nombre }}</td>
              <td>
                <mat-checkbox class="example-margin" [(ngModel)]=" v.alojado" [disabled]="true">
                </mat-checkbox>
              </td>
              <td>{{ v.telefono }}</td>
              <td class="align-content-center">
                <mat-checkbox class="example-margin" [(ngModel)]=" v.whatapp" [disabled]="true">
                </mat-checkbox>
              </td>
              <td>{{ v.producto.nombre }}</td>
              <td>
                <!--button type="button" name="editar" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary"> editar</button-->
                <button type="button" class="btn btn-outline-success" (click)="openFormModal(v, 'editar')">Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger" (click)="EliminarPax(v)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-group float-right mt-2 button-row" *ngIf="reservas?.length > 0">
        <button type="button" class="btn btn-outline-primary" (click)="reservar(false)">Reservar</button>
        <button type="button" class="btn btn-outline-primary" (click)="reservar(true)">Reservar y Confirmar</button>
      </div>
    </div>
  </div>
</div>
