/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
  height: 100%;
  margin: 0;
}

.btn-googleplus {
  color: #ffffff;
  background-color: #dd4b39;
}

.btn-googleplus:hover {
  color: #ffffff;
}

.top-margin {
  margin-top: 3%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.text-danger {
  font-size: 8pt;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-info {
  font-size: 12pt;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.example-margin {
  margin: 0 10px;
}

.snackbar-style {
  background: rgb(96, 117, 131);
}
